.header{
    grid-area: h;
    background-color: black;
}

.header img{
    width: 77px;

}

.loginBlock {
    float: right;
    margin-top: 20px;
    color: white;

}
.loginBlock a {
    text-decoration: none;
    color: white;


}